footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.redes {
    display: flex;
    align-items: center;
    gap: 2px;
}

.redes a {
    transition: 0.3s;
}

.redes a:hover {
    transform: translateY(-2px);
}

.copy {
    font-size: 14px;
    color: var(--font-light);
    font-weight: 400;
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;
    border-top: 1px solid #666;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 70px;
    height: 70px;}

.logo h2 {
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
    color: var(--font-light);
    width: 50%;
}