/* Contacto page styles */
.contacto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: var(--secundary-color);
}

.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-section h2 {
    font-size: 36px;
    font-weight: 600;
}
.contact-section h4 {
    font-weight: 300;
    font-size: 20px;
}

.porte {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.porte h2 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 3px solid var(--secundary-color);
}

.trans {
    display: flex;
    flex-direction: row;
    gap: 10vh;
}

.transporte {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.lineas {
    display: flex;
    flex-direction: column;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.img h2 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 3px solid var(--secundary-color);
}

.img img {
    max-height: 500px;
    border: 1px solid var(--secundary-color);
    border-radius: 5px;
}