/* Home page styles */

.about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url('../../assets/imgs/primer-plano.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}

.text {
    display: flex;
    padding: 40px;
    width: 60%;
    height: 80%;
    flex-direction: column;
    text-align: left;
    gap: 15px;
}
.text h1 {
    font-size: 45px;
    font-weight: 700;
}
.text h2 {
    font-size: 20px;
    font-weight: 300;

}

.buttons {
    cursor: pointer;
    display: flex;
    justify-content: left;
    margin-top: 20px;
    gap: 10px;
}

.buttons input {
    text-align: center;
    cursor: pointer;
    padding: 8px 22px;
    background-color: rgb(220, 220, 220);
    font-weight: lighter;
    border-radius: 5px;
    color: var(--secundary-color);
    font-size: 18px;
    border: none;
    transition: .3s;
}

.buttons input:hover {
    filter: brightness(.8)
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 50px;
}

.tecnicaturas { 
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    width: 95vw;
}

.box {
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
    width: 380px;
    height: auto;
    background-color: whitesmoke;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: .4s;
}
.box h2{
    font-size: 20px;
}
.box p{
    color: rgb(140, 140, 140);
}
.box:hover{
    transform: translateY(-5px);
    filter: drop-shadow(1px 1px 4px rgb(0, 0, 0, .2));
}

.title{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    display: flex;
    align-items: center;
    color: #a00000;
}

.lista {
    padding-top: 10px;
}
.lista h4{
    display: flex;
    align-items: center;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.btn-tecnicaturas {
    cursor: pointer;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    transition: .3s;
}
.btn-tecnicaturas:hover {
    filter: brightness(.8);
}

/* Responsive */

@media (max-width: 920px) {
    .about {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .text {
        width: 100%;
        text-align: center;
    }
    .section {
        flex-direction: column;
        align-items: center;
    }
    .buttons {
        justify-content: center;
    }
    .tecnicaturas {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 80%;
    }
    
}

@media (max-width: 500px) {
    .tecnicaturas {
        gap: 30px;
    }
    .box {
        width: 100%;
    }
}